html
{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

body
{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#main
{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	opacity: .9;
	z-index: 100;
}

#topContent
{
	height: 75%;
	width: 100%;
	background-color: white;

}

#bottomContent
{
	height: 25%;
	width: 100%;
background-color: #0082bb;
}

.link {
  stroke: #636466;
  stroke-width: 1.5px;
}

html{
  height: 100%;
  width: 100%;
}
svg
{
  opacity: .5;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.node {
  fill: #000;
  stroke: #fff;
  stroke-width: 1.5px;
}

.node.color1 { fill: #83b236; }
.node.color2 { fill: #0082bb; }
.node.color3 { fill: #e09027; }